/* Global Styles and Variables */
:root {
    --primary: #ff6a3e;
    --primaryLight: #ffba43;
    --secondary: #ffba43;
    --secondaryLight: #ffba43;
    --headerColor: #1a1a1a;
    --headerColorDark: #082032;
    --headerColorMedium: #2c394b;
    --bodyTextColor: #4e4b66;
    --bodyTextColorGray: #313131;
    --priority-low-color: #49801a;
    --priority-medium-color: #e9ab2a;
    --priority-high-color: #da340d;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1rem, 2vw, 2rem);
    --headerMobileFontSize: clamp(0.5rem, 3vw, 1rem);
    --bodyFontSize: 1rem;
    --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    --dialogPadding: clamp(0.75rem, 1.82vw, 4.25rem) 1rem;

}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-size: var(--bodyFontSize);
    color: var(--bodyTextColor);
    background-color: #fff;
    /* Default background color */
}

#main-container {
    display: flex;
    justify-content: center;
}

dialog {
    border: none !important;
    /* margin: 0; */
    padding: var(--sectionPadding);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-sizing: content-box;
}

button,
ul {
    all: unset;
}

button:hover {
    cursor: pointer;
}

#dialog-close-btn {
    border: none;
    align-self: flex-end;
}

.close-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    width: 26px;
    height: 26px;
    z-index: 1;
    cursor: pointer;
}

.close {
    height: 4px;
    width: 25px;
    position: absolute;
    background-color: #F4A259;
    border-radius: 2px;
}

.leftright {
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft {
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: #F25C66;
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: #F25C66;
}

.close-container:hover label {
    opacity: 1;
}

#content {
    /* position: relative; */
    min-height: 100vh;
    margin-top: 100px;
    /* padding-bottom: 200px; */
    border: 1px solid green;
}

footer {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    font-family: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Basic Typography */
.cs-topper,
.cs-title,
.cs-text {
    text-align: inherit;
}

.cs-topper {
    font-size: var(--topperFontSize);
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
}

.cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    color: var(--headerColor);
}

.cs-text {
    color: var(--bodyTextColor);
}

/* Navigation Links */
#cs-navigation .page-title,
#cs-navigation>.page-title:visited {
    text-decoration: none;
    color: var(--headerColorMedium);
}

#cs-navigation .cs-li-link {
    cursor: pointer;
}